
<label class="form-label">{{ option.title }}</label>
{% for value in option.values %}
<input type="checkbox" class="checkbox" name="options[{{ option.id }}][value][{{ option.id }}]" data-option-id="{{ value.id }}" data-type="{{ value.type }}" data-price="{{ value.price }}" value="{{ value.id }}">{{ value.title }} + {{ value.price|currency }} />
{% endfor %}
